{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

<div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  <div class="announcement-bar__wrapper page-width">
    {%- for block in section.blocks -%}
      {% if block.settings.popup_trigger %}
        <button class="announcement-bar__link" id="avedaPopupTrigger">{{ block.settings.text }}</button>
      {% else %}
        <a class="announcement-bar__link" href="{{ block.settings.link }}">{{ block.settings.text }}</a>
      {% endif %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "announcement",
        "name": "t:sections.announcement-bar.blocks.announcement.name",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Welcome to our store</p>",
            "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "popup_trigger",
            "label": "Use as popup trigger - Aveda Email Marketing",
            "default": false
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  }
{% endschema %}
