{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>
      <div class="blog-filters">
          <p>Filter posts by tag:</p>
          <ul class="blog-filters__list">
              <li>
                <a href="{{ blog.url }}">All</a>
              </li>
              {%- for tag in blog.all_tags -%}
                <li>
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                </li>
              {%- endfor -%}
          </ul>
      </div>
        <div class="blog-articles__grid {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
          <div class="blog-articles__featured blog-articles__grid">
            {%- for article in blog.articles -%}
              {%- if article.metafields.custom.featured_article -%}
              <div class="blog-articles__article article">
                {%- render 'article-card',
                  article: article,
                  media_height: section.settings.image_height,
                  media_aspect_ratio: article.image.aspect_ratio,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: true,
                  featured: true
                -%}
              </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          <div class="blog-articles__article blog-articles__grid">
            {%- for article in blog.articles -%}
              {%- if article.metafields.custom.featured_article == null -%}
              <div class="blog-articles__article article">
                {{article.metafields.custom.featured_article}}
                {%- render 'article-card',
                  article: article,
                  media_height: section.settings.image_height,
                  media_aspect_ratio: article.image.aspect_ratio,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: true,
                  featured: false
                -%}
              </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>

        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ]
}
{% endschema %}
